version: "3.9"

services:
  mysql:
    image: mysql:8.0
    container_name: mysql_local
    restart: unless-stopped
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: demo
      MYSQL_USER: phpuser
      MYSQL_PASSWORD: phppass
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
